 <!-- ======= Team Section ======= -->
 <section id="team" class="team section-bg">
  <div class="container">

    <div class="section-title" data-aos="fade-up">
      <h2><img src="assets/img/tablero.png" width="30" alt="Icono Tablero"> TABLERO PRINCIPAL</h2>
        <h4><img src="assets/img/servicio.png" width="30" alt="Icono Factura"> Servicio</h4>
    </div>

    <div class="row">
      <div class="table-responsive">
        <table class="table align-middle">
          <tbody>
            <tr>
              <td>
                  <div class="form-floating mb-3">
                      <input type="text" class="form-control" id="floatingInput" placeholder="1115">
                      <label for="floatingInput">*Código del Servicio</label>
                    </div>
              </td>
              <td>
                  <div class="form-floating mb-3">
                      <input type="text" class="form-control" id="floatingInput2" placeholder="Redes Sociales">
                      <label for="floatingInput2">*Nombre del Servicio</label>
                    </div>
              </td>
            </tr>
            <tr>
              <td>
                  <div class="form-floating">
                      <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                      <label for="floatingTextarea">Descripción del Servicio</label>
                    </div>
              </td>
              <td>
                  <div class="form-floating mb-3">
                      <input type="text" class="form-control" id="floatingInpu3" placeholder="$50.000">
                      <label for="floatingInput3">*Precio del Servicio</label>
                    </div>
              </td>
            </tr>
            <tr>
              <td>
            <div class="col-6">
              <button class="btn btn-outline-success" type="submit">Guardar</button>
            </div>
          </td>
          <td>
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <button type="button" class="btn btn-outline-secondary" type="submit">Cerrar</button>
              </div>
            </td>
          </tr>
              </tbody>
            </table>
          </div>

  </div>
<!-- End Team Section -->
