<!-- ======= Pricing Section ======= -->
<div id="pricing" class="pricing">
  <div class="container">

    <div class="section-title" data-aos="fade-up">
      <h2><img src="assets/img/tablero.png" width="30" alt="Icono Tablero"> TABLERO PRINCIPAL</h2>
        <h4><img src="assets/img/cliente.png" width="30" alt="Icono Factura">{{ titulo }}
          <div *ngIf="loading" class="spinner-border float-end" role="status">
            <span class="visually-hidden">Loading...</span>
          </div></h4>
    </div>
      <div *ngIf="submitted && createCliente.invalid" class="p-3 mb-3 text-bg-danger rounded-3" style="border: 5px var(--bs-danger-border-subtle) solid">
        <strong>*</strong> Todos los Campos son Obligatorios!
      </div>
    <form class="mt-4" [formGroup]="createCliente" (ngSubmit)="agregarCliente()">
      <div class="row">
          <div class="col">
          <input type="number" class="form-control"
          formControlName="identificacion" placeholder="*Número de Identficación">
        </div>
      </div>
        <div class="row">
        <div class="col">
          <input type="text" class="form-control mt-3"
          formControlName="nombre" placeholder="*Nombre Completo">
        </div>
        <div class="col">
          <input type="text" class="form-control mt-3"
          formControlName="direccion" placeholder="*Direccion de Residencia">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input type="text" class="form-control mt-3"
          formControlName="correo" placeholder="*Correo Electrónico">
        </div>
        <div class="col">
          <input type="text" class="form-control mt-3"
          formControlName="telefono" placeholder="*Teléfono o Celular">
        </div>
      </div>
      <div class="mt-3">
        <button type="submit" class="btn btn-outline-success mr-3">Guardar</button>
        <button type="text" class="btn btn-outline-secondary float-end" routerLink="/list-cliente" >Cerrar</button>
      </div>

    </form>

  </div><!-- End Pricing Section -->
