<!-- ======= Pricing Section ======= -->
<div id="pricing" class="pricing">
  <div class="container">

    <div class="section-title" data-aos="fade-up">
      <h2><img src="assets/img/tablero.png" width="30" alt="Icono Tablero"> TABLERO PRINCIPAL</h2>
        <h4><img src="assets/img/cliente.png" width="30" alt="Icono Factura"> Cliente</h4>
    </div>

    <div class="row">
      <div class="table-responsive">
        <table class="table align-middle">
          <tbody>
            <tr>
              <td>
                <select class="form-select" aria-label="Default select example">
                  <option selected>*Tipo de Identficación</option>
                  <option value="1">Cédula de Ciudadania</option>
                  <option value="2">NIT</option>
                  <option value="3">Documento Extranjero</option>
                  <option value="4">Pasaporte</option>
                </select>
              </td>
              <td>
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="floatingInput1" placeholder="37394453">
                  <label for="floatingInput1">*Número de Identficación</label>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                  <div class="form-floating mb-3">
                      <input type="text" class="form-control" id="floatingInput" placeholder="1115">
                      <label for="floatingInput">*Nombre Completo</label>
                    </div>
              </td>
              <td>
                  <div class="form-floating mb-3">
                      <input type="text" class="form-control" id="floatingInput2" placeholder="Redes Sociales">
                      <label for="floatingInput2">*Direccion de Residencia</label>
                    </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="form-floating mb-3">
                  <input type="email" class="form-control" id="floatingInput4" placeholder="nombre@ejemplo.com">
                  <label for="floatingInput4">*Correo Electrónico</label>
                </div>
              </td>
              <td>
                  <div class="form-floating mb-3">
                      <input type="text" class="form-control" id="floatingInpu3" placeholder="$50.000">
                      <label for="floatingInput3">*Teléfono o Celular</label>
                    </div>
              </td>
            </tr>
            <tr>
              <td>
            <div class="col-6">
              <button class="btn btn-outline-success" type="submit">Guardar</button>
            </div>
          </td>
          <td>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <button type="button" class="btn btn-outline-secondary" type="submit">Cerrar</button>
              </div>
            </td>
          </tr>
              </tbody>
            </table>
          </div>

  </div>
  </div><!-- End Pricing Section -->
