<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">

    <div class="logo">
      <a href="#"><img src="assets/img/logo-masterpez2.png" alt="" class="img-fluid"></a>
    </div>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto" href="#team">Servicio</a></li>
        <li><a class="nav-link scrollto" href="#pricing">Cliente</a></li>
        <li><a class="nav-link scrollto" href="#about">Facturar</a></li>
        <li><a class="nav-link scrollto" href="#services">Revisar Factura</a></li>
        <li><a class="nav-link scrollto " href="#portfolio">Cierre de Caja</a></li>
        <li><a class="nav-link scrollto " href="#faq">Configuraciones</a></li>
        <li><a class="nav-link scrollto" href="#contact">Contáctenos</a></li>
        <div class="col-md-2 text-end">
          <button type="button" class="btn btn-outline-success" (click)="logOut()">Cerrar Sesión</button>
        </div>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->
