<!-- ======= Hero Section ======= -->
<section id="hero">
  <div *ngIf="!loading" class="hero-container">
    <a href="sesion.html" class="hero-logo" data-aos="zoom-in"><img src="assets/img/masterpez-logo.png" alt="Logo Masterpez.com"></a>
    <h1 data-aos="zoom-in">Bienvenidos al Sistema</h1>
    <h2 data-aos="fade-up"><img src="assets/img/ingreso.png" width="30" alt="Icono Usuario"> ¡Recupera tu Contraseña!</h2>

<form (ngSubmit)="recuperar()" [formGroup]="recuperarUsuario">
    <div class="form-floating mb-3">
      <input type="email" class="form-control" formControlName="correo" placeholder="nombre@ejemplo.com">
      <label>Correo Electronico</label>
      <span *ngIf="recuperarUsuario.get('correo')?.hasError('required') && recuperarUsuario.get('correo')?.touched" class="text-danger">
        *El <strong>Correo </strong>es Requerido.
      </span>
      <span *ngIf="recuperarUsuario.get('correo')?.hasError('email') && recuperarUsuario.get('correo')?.touched" class="text-danger">
        *El <strong>Correo </strong>es Invalido.
      </span>
    </div>
    <div class="d-grid gap-2">
      <button type="submit" class="btn btn-outline-success btn-lg" [disabled]="recuperarUsuario.invalid">Recuperar</button>
    </div>
    <p class="mt-3"><a routerLink="/sesion"><img src="assets/img/regresar.png" width="30" alt="Icono Regresar"> Regresar</a></p>
  </form>

    </div>

    <app-spinner *ngIf="loading"></app-spinner>

</section><!-- End Hero -->

