<!-- ======= Hero Section ======= -->
<section id="hero">
  <div class="hero-container">
    <a href="index.html" class="hero-logo" data-aos="zoom-in"><img src="assets/img/masterpez-logo.png" alt="Logo Masterpez.com"></a>
    <h1 data-aos="zoom-in">Bienvenidos al Sistema</h1>
    <h2 data-aos="fade-up"><img src="assets/img/ingreso.png" width="30" alt="Icono Usuario"> ¡Comencemos!</h2>
    <div class="dropdown">
      <button type="button" data-aos="fade-up" data-aos-delay="200" href="#faq" class="btn btn-get-started scrollto dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
        Inicia Sesión
      </button>
      <form class="dropdown-menu p-4">
        <div class="mb-3">
          <label for="exampleDropdownFormUser2" class="form-label">Nombre de Usuario</label>
          <input type="text" class="form-control" id="exampleDropdownFormUser2" placeholder="@Usuario">
        </div>
        <div class="mb-3">
          <label for="exampleDropdownFormPassword2" class="form-label">Contraseña</label>
          <input type="password" class="form-control" id="exampleDropdownFormPassword2" placeholder="****">
        </div>
        <div class="mb-3">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="dropdownCheck2">
            <label class="form-check-label" for="dropdownCheck2">
              Recordar Usuario
            </label>
          </div>
        </div>
        <a class="btn btn-outline-success" href="#faq">Entrar</a>
        <div class="dropdown-divider"></div>
  <a class="dropdown-item" href="#">¿Olvidó su Contraseña?</a>

      </form>
    </div>
  </div>
</section><!-- End Hero -->
