<!-- ======= About Us Section ======= -->
<section id="services" class="services">
  <div class="container">

    <div class="section-title" data-aos="fade-up">
      <h2><img src="assets/img/tablero.png" width="30" alt="Icono Tablero"> TABLERO PRINCIPAL</h2>
      <h4><img src="assets/img/facturar.png" width="30" alt="Icono Factura"> Realizar Factura</h4>
    </div>

    <div class="table-responsive">
      <table class="table align-middle">
        <tr>
        <td scope="row" colspan="2">
                    <!-- Sección de clientes -->
<div>
  <select class="form-select" aria-label="Default select example" id="clienteSelector" [(ngModel)]="clienteSeleccionado" (change)="actualizarTotales()">
    <option selected>Buscar Cliente</option>
    <option *ngFor="let cliente of clientes" [value]="cliente">{{ cliente.nombre }}</option>
  </select>
</div>
<td scope="row" colspan="2">
              <!-- Sección de servicios -->
<div>
  <select class="form-select" aria-label="Default select example" id="servicioSelector" [(ngModel)]="serviciosSeleccionados">
    <option selected>Buscar Servicio</option>
    <option *ngFor="let servicio of servicios" [value]="servicio">{{ servicio.nombreSer }}</option>
  </select>

</div>
            </td>
            <td>
            <button class="btn btn-outline-success" (click)="agregarServicio(serviciosSeleccionados)">Agregar</button>
          </td>
        <tr>

          <div *ngIf="serviciosSeleccionados.length > 0">
            <h3>Servicios Seleccionados:</h3>
            <ul>
              <div *ngFor="let item of serviciosSeleccionados | keyvalue">
                {{ item.key }}: {{ item.value.nombre }} - Cantidad: {{ item.value.cantidad }}
              </div>
            </ul>
          </div>

          <!-- Lista de servicios seleccionados -->
<div>
  <table class="table align-middle table-hover">
    <thead>
      <tr class="table-lore">
        <th scope="col">Servicios Seleccionados</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Precio</th>
      <th> --- </th>
        <tbody>
            <tr *ngFor="let servicio of serviciosSeleccionados">
            <td>{{ servicio.nombreSer }}</td>
            <td>{{ servicio.cantidad }}</td>
            <td>{{ servicio.precio }}</td>
            <td>
              <i (click)="eliminarServicio(servicio)" class="bi bi-trash text-danger"></i>
            </td>


<!-- Descuentos -->
<div>
  <select class="form-select" id="descuentoSelector" [(ngModel)]="descuentoSeleccionado" (change)="actualizarTotales()">
    <option selected>Selecciona un Descuento</option>
    <option *ngFor="let descuento of descuentos" [value]="descuento">{{ descuento }}%</option>
  </select>
</div>

<!-- Resumen de la Factura -->
<div>
  <form class="form-floating">
    <input type="email" class="form-control" id="floatingInputValue" value="Total a Pagar:">
    {{ totalFactura | currency }}
    <label for="floatingInputValue">Resumen de la Factura</label>
    <button class="btn btn-outline-success" (click)="facturar()">Facturar</button>
  </form>
</div>


<!-- End About Us Section -->
