<!-- ======= About Us Section ======= -->
<section id="about" class="about">
  <div class="container">

    <div class="section-title" data-aos="fade-up">
      <h2><img src="assets/img/tablero.png" width="30" alt="Icono Tablero"> TABLERO PRINCIPAL</h2>
      <h4><img src="assets/img/facturar.png" width="30" alt="Icono Factura"> Realizar Factura</h4>
    </div>

    <div class="table-responsive">
      <table class="table align-middle">
        <tr>
            <td>
              <div class="row g-2" colspan="2">
                <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Buscar Cliente por Nombre o por # Identficación...">
                <datalist id="datalistOptions">
                  <option value="Alix Lorena">
                  </option><option value="37394453">
                </option></datalist>
                </div>
            </td>
            <td>
              <div class="row g-2" colspan="2">
                <input class="form-control" list="datalistOptions1" id="exampleDataList1" placeholder="Buscar Servicio por Nombre o por Código...">
                <datalist id="datalistOptions1">
                  <option value="Redes Sociales">
                  </option><option value="1115">
                </option></datalist>
                </div>
            </td>
        </tr>
        <tr>
          <td class="text-end">
            <div colspan="2">
            <label for="formGroupExampleInput" class="form-label">Descuento</label>
          </div>
          </td>
          <td>
            <div colspan="2">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
              <label class="form-check-label" for="inlineCheckbox1">5%</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
              <label class="form-check-label" for="inlineCheckbox2">15%</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
              <label class="form-check-label" for="inlineCheckbox3">30%</label>
            </div>
          </div>
          </td>
        </tr>
        <tr>
          <table class="table table-hover table-bordered border-2">
            <thead>
              <tr class="table-lore">
                <th scope="col">Servicio</th>
                <th scope="col">Precio Unit</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr class="table-light">
                <th scope="row">Redes Sociales</th>
                <td>$400.000</td>
                <td>1</td>
                <td>$400.000</td>
              </tr>
              <tr class="table-light">
                <th scope="row">Productos Digitales</th>
                <td>$100.000</td>
                <td>2</td>
                <td>$200.000</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="2"><div class="col">
                  <button class="btn btn-outline-success" type="submit">Facturar</button>
                </div></td>
                <th scope="col" class="table-lore">Total:</th>
                <th scope="col" class="table-lore">$600.000</th>
              </tr>
            </tfoot>
    </table>

<!-- End About Us Section -->
