<!-- ======= Footer ======= -->
<!-- ======= Footer ======= -->
<footer id="footer">

  <div class="footer-top">

    <div class="container">

      <div class="row justify-content-center">
        <div class="col-lg-6">
          <a href="#header" class="scrollto footer-logo"><img src="assets/img/masterpez-logof.png" alt="Logo Masterpez.com"></a>
          <h3>MASTERPEZ.COM</h3>
          <p>¡Suscríbete para recibir noticias de nuestros servicios!</p>
        </div>
      </div>

      <div class="row footer-newsletter justify-content-center">
        <div class="col-lg-6">
          <form action="" method="post">
            <input type="email" name="email" placeholder="Ingresa tu Correo"><input type="submit" value="Suscríbete">
          </form>
        </div>
      </div>

      <div class="social-links">
        <a href="https://www.facebook.com/masterpezcom" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="https://www.instagram.com/master.pez/" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="https://twitter.com/masterpezcom" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="https://g.page/r/CYNXZhPwncmBEB0/review" class="google-plus"><i class="bx bxl-google"></i></a>
        <a href="https://masterpezcom.blogspot.com/" class="web"><i class="bi bi-globe"></i></a>
      </div>

    </div>
  </div>

  <div class="container footer-bottom clearfix">
    <div class="copyright">
      &copy; Copyright <strong><span>Masterpez.com</span></strong>. Todos los derechos reservados.
    </div>
    <div class="credits">
      Diseñado por <a href="https://masterpezcom.blogspot.com/" target="_blank">Masterpez.com</a>
    </div>
  </div>
</footer><!-- End Footer -->
