<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio section-bg">
  <div class="container">

    <div class="section-title" data-aos="fade-up">
        <h2><img src="assets/img/tablero.png" width="30" alt="Icono Tablero"> TABLERO PRINCIPAL</h2>
        <h4><img src="assets/img/cierre.png" width="30" alt="Icono Factura"> Cierre de Caja</h4>
    </div>

    <div class="table-responsive">
      <table class="table align-middle">
        <tbody>
          <tr>
            <td>
              <table class="table table-hover table-bordered border-1">
                <thead>
                  <tr class="table-lore">
                    <th scope="row" colspan="2">Dinero en Caja</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="table-light">
                    <td>Fondo Caja</td>
                    <td>$0</td>
                  </tr>
                  <tr class="table-light">
                    <td>Abonos en Efectivo</td>
                    <td>$0</td>
                  </tr>
                  <tr class="table-light">
                    <td>Ventas en Efectivo</td>
                    <td>$0</td>
                  </tr>
                  <tr class="table-light">
                    <td>Entradas</td>
                    <td>$0</td>
                  </tr>
                  <tr class="table-light">
                    <td>Salidas</td>
                    <td>$0</td>
                  </tr>
                  <tr class="table-light">
                    <td>Devoluciones</td>
                    <td>$0</td>
                  </tr>
                  <tr class="table-lore">
                    <th scope="col">Total</th>
                    <th scope="col">$0</th>
                  </tr>
                </tbody>
              </table>
            </td>
            <td>
              <table class="table table-hover table-bordered border-1">
                <thead>
                  <tr class="table-lore">
                    <th scope="row" colspan="2">Ventas del Día</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="table-light">
                    <td>En Efectivo</td>
                    <td>$0</td>
                  </tr>
                  <tr class="table-light">
                    <td>Con Transferencia</td>
                    <td>$0</td>
                  </tr>
                  <tr class="table-light">
                    <td>Nequi</td>
                    <td>$0</td>
                  </tr>
                  <tr class="table-light">
                    <td>Davivienda</td>
                    <td>$0</td>
                  </tr>
                  <tr class="table-light">
                    <td>Bancolombia</td>
                    <td>$0</td>
                  </tr>
                  <tr class="table-light">
                    <td>Devoluciones</td>
                    <td>$0</td>
                  </tr>
                  <tr class="table-lore">
                    <th scope="col">Total</th>
                    <th scope="col">$0</th>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td>
              <table class="table table-hover table-bordered border-1">
                <thead>
                  <tr class="table-lore">
                    <th scope="row" colspan="2">Salidas</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="table-light">
                    <th scope="col">Total</th>
                    <th scope="col">$0</th>
                  </tr>
                </tbody>
              </table>
            </td>
            <td>
              <table class="table table-hover table-bordered border-1">
                <thead>
                  <tr class="table-lore">
                    <th scope="row" colspan="2">Entradas</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="table-light">
                    <th scope="col">Total</th>
                    <th scope="col">$0</th>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr colspan="4">
            <td colspan="4">
              <table class="table table-hover table-bordered border-1">
                <thead>
                  <tr class="table-lore">
                    <th scope="row" colspan="2">Abonos a Créditos</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="table-light">
                    <td>Abono con Efectivo</td>
                    <td>$0</td>
                  </tr>
                  <tr class="table-light">
                    <td>Abono con Transferencia</td>
                    <td>$0</td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
                  <tr colspan="4">
                    <td colspan="4">
                      <table class="table table-hover table-bordered border-1">
                        <thead>
                          <tr class="table-lore">
                            <th scope="row" colspan="5">Devoluciones</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="table-light">
                            <th>Factura #</th>
                            <th>Cod Servicio</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                            <th>Total</th>
                          </tr>
                          <tr class="table-light">
                            <td>Sin Devoluciones</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr class="table-lore">
                            <th scope="col" colspan="3">Total</th>
                            <th scope="col" colspan="2">$0</th>
                          </tr>
                        </tbody>
                        </table>
                      </td>
                    </tr>
          <tr>
            <td>
          <div class="col-6">
            <button class="btn btn-outline-success" type="submit">Realizar Cierre</button>
          </div>
        </td>
        <td>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-outline-secondary" type="submit">Cerrar</button>
            </div>
          </td>
        </tr>
            </tbody>
          </table>
        </div>

  </div>
</section><!-- End Portfolio Section -->
