<!-- ======= Frequently Asked Questions Section ======= -->
<section id="faq" class="faq section-bg">
  <div class="container">

    <div class="section-title" data-aos="fade-up">
      <h2><img src="assets/img/configuracion.png" width="30" alt="Icono Tablero"> CONFIGURACIONES</h2>
      <h4><img src="assets/img/usuario.png" width="30" alt="Icono Factura"> Mi Perfil - Datos de Empresa <img src="assets/img/empresa.png" width="30" alt="Icono Factura"></h4>
    </div>



                            <div class="form-floating">
                              <input type="text" class="form-control" id="floatingInputGrid" placeholder="" value="Masterpez.com">
                              <label for="floatingInputGrid">Nombre de la Empresa</label>
                            </div>



                            <div class="form-floating">
                              <input type="text" class="form-control" id="floatingInputGrid" placeholder="" value="37394453-8">
                              <label for="floatingInputGrid">NIT</label>
                            </div>



                            <div class="form-floating">
                              <input type="text" class="form-control" id="floatingInputGrid" placeholder="" value="Calle 6AN # 7AE - 156 Ceiba II">
                              <label for="floatingInputGrid">Dirección de la Empresa</label>
                            </div>


                            <div class="form-floating">
                              <input type="text" class="form-control" id="floatingInputGrid" placeholder="" value="+57 321 7337 453">
                              <label for="floatingInputGrid">Teléfono o Celular</label>
                            </div>







<!-- End Frequently Asked Questions Section -->
