<!-- ======= Frequently Asked Questions Section ======= -->
<section id="faq" class="faq section-bg">
  <div class="container">

    <div class="section-title" data-aos="fade-up">
      <h2><img src="assets/img/configuracion.png" width="30" alt="Icono Tablero"> CONFIGURACIONES</h2>
      <h4><img src="assets/img/usuario.png" width="30" alt="Icono Factura"> Mi Perfil - Editar Usuario / </h4>
      <h4><img src="assets/img/empresa.png" width="30" alt="Icono Factura"> Editar Empresa</h4>
    </div>

    <ul class="faq-list">

      <li data-aos="fade-up">
          <a data-bs-toggle="collapse" class="collapsed" data-bs-target="#faq1">Datos de Usuario<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
        <div id="faq1" class="collapse" data-bs-parent=".faq-list">
          <p>
            <div class="row">
              <div class="table-responsive">
                <table class="table align-middle">
                  <tbody>
                    <tr>
                      <td>
                        <form class="row g-3 needs-validation" novalidate>
                        <div class="mb-3">
                          <label for="exampleFormControlInput1" class="form-label">*Usuario</label>
                          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="@Admin">
                        </div>

                      <td>
                        <div class="mb-3">
                          <label for="exampleFormControlInput1" class="form-label">*Cargo</label>
                        <select class="form-select" aria-label="Default select example">
                          <option selected>*Seleccione un Cargo</option>
                          <option value="1">Gerente</option>
                          <option value="2">Asesor</option>
                        </select>
                      </div>
                      </td>

                    <tr>
                      <td>
                        <div class="mb-3">
                          <label for="exampleFormControlInput1" class="form-label">*Contraseña</label>
                          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="******">
                        </div>
                      </td>
                      <td>
                        <div class="mb-3">
                          <label for="exampleFormControlInput1" class="form-label">*Repetir Contraseña</label>
                          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="******">
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>
                        <div class="d-grid gap-2 d-md-block" style="text-align: right;">
                      <button class="btn btn-outline-success" type="submit">Guardar</button>
                    </div>
                  </td>
                  </tr>






    <ul class="faq-list">

      <li data-aos="fade-up">
        <a data-bs-toggle="collapse" class="collapsed" data-bs-target="#faq2">Datos de Empresa<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
        <div id="faq2" class="collapse" data-bs-parent=".faq-list">
          <p>
            <div class="row">
              <div class="table-responsive">
                <table class="table align-middle">
                  <tbody>
                    <tr>
                      <td>
                        <div class="row g-2">
                          <div class="col-md">
                            <div class="form-floating">
                              <input type="text" class="form-control" id="floatingInputGrid" placeholder="" value="Masterpez.com">
                              <label for="floatingInputGrid">Nombre de la Empresa</label>
                            </div>
                          </div>

                      <td>
                        <div class="row g-2">
                          <div class="col-md">
                            <div class="form-floating">
                              <input type="text" class="form-control" id="floatingInputGrid" placeholder="" value="37394453-8">
                              <label for="floatingInputGrid">NIT</label>
                            </div>
                          </div>

                    <tr>
                      <td>
                        <div class="row g-2">
                          <div class="col-md">
                            <div class="form-floating">
                              <input type="text" class="form-control" id="floatingInputGrid" placeholder="" value="Calle 6AN # 7AE - 156 Ceiba II">
                              <label for="floatingInputGrid">Dirección de la Empresa</label>
                            </div>
                          </div>

                      <td>
                        <div class="row g-2">
                          <div class="col-md">
                            <div class="form-floating">
                              <input type="text" class="form-control" id="floatingInputGrid" placeholder="" value="+57 321 7337 453">
                              <label for="floatingInputGrid">Teléfono o Celular</label>
                            </div>
                          </div>

                    <tr>
                      <td>
                    <div class="mb-3">
                      <label for="formFileSm" class="form-label">Por favor seleccione el logo de la empresa</label>
                      <input class="form-control form-control-sm" id="formFileSm" type="file">
                    </div>
                  </td>
                  <td>
                    <div class="col-6">
                      <button class="btn btn-outline-success" type="submit">Guardar</button>
                    </div>
                  </td>
                  </tr>
                    <tr>
                      <td>
                        <div class="row g-2">
                          <div class="col-md">
                            <div class="form-floating">
                              <input type="text" class="form-control" id="floatingInputGrid" placeholder="" value="Cantidad">
                              <label for="floatingInputGrid">Salida de Dinero</label>
                            </div>
                          </div>

                      <td>
                        <div class="row g-2">
                          <div class="col-md">
                            <div class="form-floating">
                              <input type="text" class="form-control" id="floatingInputGrid" placeholder="" value="Descripción">
                              <label for="floatingInputGrid">Concepto de Salida de Dinero</label>
                            </div>
                          </div>

                    <tr>
                      <td>
                        <div class="row g-2">
                          <div class="col-md">
                            <div class="form-floating">
                              <input type="text" class="form-control" id="floatingInputGrid" placeholder="" value="Cantidad">
                              <label for="floatingInputGrid">Entrada de Dinero</label>
                            </div>
                          </div>

                      <td>
                        <div class="row g-2">
                          <div class="col-md">
                            <div class="form-floating">
                              <input type="text" class="form-control" id="floatingInputGrid" placeholder="" value="Descripción">
                              <label for="floatingInputGrid">Concepto de Entrada de Dinero</label>
                            </div>
                          </div>

                    <tr>
                      <td>
                    <div class="col-6">
                    </div>
                  </td>
                  <td>
                    <div class="col-6">
                      <button class="btn btn-outline-secondary" type="submit">Guardar Salidas y Entradas</button>
                    </div>
                    </td>
                  </tr>

                  </div>
                  </div>


        </div>


    <table>
      <tr>
        <td>
          <div class="col-auto">
            <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#crearusuario">Crear un Nuevo Usuario</button>
          <div class="modal fade" id="crearusuario">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exModalLabel">Crear Usuario Nuevo</h5>
                  <button type="button" class="btn-close" name="button" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                  <div class="container-fluid">
              <form class="row mb-3">
                    <div class="col-auto">
                      <label for="exampleFormControlInput1" class="form-label">Todos los datos son obligatorios</label>
                      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="@usuario">
                    </div>
                    <div class="col-auto my-2">
                      <label for="inputPassword2" class="visually-hidden">Contraseña</label>
                      <input type="password" class="form-control" id="inputPassword2" placeholder="Contraseña">
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault">
                        Gerente
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                      <label class="form-check-label" for="flexCheckChecked">
                        Asesor
                      </label>
                    </div>


                <div class="modal-footer">
                  <button type="submit" class="btn btn-outline-success mb-3">Guardar</button>
                </div>
              </form>
              </div>
            </div>
          </div>
          </div>




  </div>
<!-- End Frequently Asked Questions Section -->
